body{
    background-color: rgb(196, 196, 196);
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 50px;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

h1, h2{
    color: #ef6825;
    padding-top: 50px;
    max-width: 90%;
    height: auto;

}

p, ol ,ul{
    font-size: 25px;
    padding-left: 25px;
}

a:visited, a:link{
    color: rgb(105, 0, 204);
}

.lmg-header{
    display: block;
    margin: 10px auto;
    width: 1000px;
    max-width: 100%;
    height: auto;
    padding-top: 25px;
}

.linus-img{
    border-radius: 150px;
    margin: 25px;
    max-width: 75%;
    border: 10px solid rgb(105, 0, 204);
}

ol, ul{
    list-style-type: none;
}
.merchandise img{
    border-radius: 50px;
    background-color: #ededed;
    border: 5px solid #ef6825;
}